.vscode
main.dSYM
test-data
main
*.csv
bin/geo-partitions/edges/*
bin/node-hash-partitions/node-data/*
bin/node-hash-partitions/reduced-nodes/*
bin/geo-partitions/exp-edges/*
bin/geo-partitions/nodes/*
bin/geo-partitions/border-edge-geometry/*
bin/geo-partitions/edge-geometry/*
bin/geo-partitions/border-nodes/*
bin/geo-partitions/border-edges/*
bin/node-hash-partitions/nodes/*
bin/node-hash-partitions/used-nodes/*
bin/way-hash-partitions/ways/*
bin/way-hash-partitions/way-nodes/*
bin/way-hash-partitions/nodes-geo-partitions/*
# bin/geo-partitions/.DS_Store
# bin/node-hash-partitions/.DS_Store
# bin/way-hash-partitions/.DS_Store
# bin/.DS_Store
bin/restrictions.bin
